
<mat-toolbar color="primary">
  <mat-icon aria-hidden="false" aria-label="Example home icon" size="60">insights</mat-icon>&nbsp;&nbsp;
  <span>Commodity Insights</span>
  <span style="flex: 1 1 auto;"></span>

  <div *ngIf="(user$ | async)?.isAuthenticated" fxLayoutAlign="center center">
    <span class="user-info">logged in as {{ (user$ | async)?.userType }}</span>
    <span class="material-icons logout-icon" (click)="logout()" matTooltip="Logout">logout</span>
  </div>
  
</mat-toolbar>

<div [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>