<div fxLayoutAlign="center center" *ngIf="(loading$ | async)" style="padding-top:160px;">
    <div fxLayout="column" fxLayoutGap="20px" style="width:600px;">
        <p>loading data</p>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
</div>

<div [hidden]="loading$ | async">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="PnL Trends"><aa-products></aa-products></mat-tab>
        <mat-tab label="Trade Logs" [disabled]="!(canViewCharts$ | async)"><aa-trade-logs></aa-trade-logs></mat-tab>
    </mat-tab-group>
</div>

<div fxLayoutAlign="center center" class="error-box" *ngIf="errorMessage$ | async as errorMessage">
    <span>{{errorMessage}}</span>
</div>

